ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;

}

li {
	float: left;
	border-right: 1px solid #bbb;

}

li:last-child {
	border-right: none;
}

a {
	display: block;
	padding: 8px;
	font-size: 25px;
	text-align: center;


}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}