h1	{
	font-size: 75px;
	color: white;
}

header {
	background: linear-gradient(250deg, pink 40%, yellow 40%);
}
section {
	background: lightgrey;
}
footer {
	background:black;
	color:white;
}
div {
	text-align: center;
	padding: 40px;
}
h3 {
	border: 2px solid white;
	font-size: 45px;
	padding: 15px;
	margin: auto;
	max-width: 400px;
}